<app-auth-layout>
<form (submit)="onSubmit()" #resetForm="ngForm">
                    <div class="onboard_wrapper">
                        <div class="back_btn">
                            <a routerLink="/login">
                                <img src="/assets/images/left-arrow.svg" alt="">
                            </a>
                        </div>
                        <div class="onboard_title text-center">
                            <img src="/assets/images/logo.png" alt="">
                            <h2>Reset Password</h2>
                            <p>Please set your new password below</p>
                        </div>
                        <div class="onboard_item">
                            <div class="onboard_text">
                                <label>Password</label>
                                <div class="password_field">
                                    <input type="password" id="password1" name="password" [(ngModel)]="data.password" placeholder="*****" required>
                                    <span class="togglePassword" data-target="password1">
                                        <img src="/assets/images/eye-slash.svg" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="onboard_text mb-0">
                                <label>Confirm Password</label>
                               <div class="password_field">
                                    <input type="password" id="password2" name="password_confirmation"
      [(ngModel)]="data.password_confirmation" placeholder="*****" required>
                                    <span class="togglePassword" data-target="password2">
                                        <img src="/assets/images/eye-slash.svg" alt="">
                                    </span>
                               </div>
                            </div>
                        </div>
                        <div class="onboard_bottom text-center">
                            <button type="submit" [disabled]="!resetForm.valid">Reset Password</button>
                        </div>
                    </div>
                </form>
            </app-auth-layout>