<app-auth-layout>
<form (submit)="onSubmit()" #forgotForm="ngForm">
                    <div class="onboard_wrapper">
                        <div class="back_btn">
                            <a routerLink="/login">
                                <img src="/assets/images/left-arrow.svg" alt="">
                            </a>
                        </div>
                        <div class="onboard_title text-center">
                            <img src="/assets/images/logo.png" alt="">
                            <h2>Forgot Password?</h2>
                            <p>Please enter your registered email</p>
                        </div>
                        <div class="onboard_item">
                            <div class="onboard_text">
                                <label>Email</label>
                                <input name="email" [(ngModel)]="email" type="email" placeholder="alexa_john@gmail.com" required>
                            </div>
                        </div>
                        <div class="onboard_bottom text-center">
                            <button type="submit" [disabled]="!forgotForm.valid">Send Reset Link</button>
                        </div>
                    </div>
                </form>
            </app-auth-layout>